@import "../common.module.scss";

.ht {
  height: 90vh;
}


.rowr {
  margin-bottom: 0;
}

.logo {
  margin-left: 20px;
}

.table {
  margin : 2em;
  padding-bottom:  5em;
  ul li {
    display: inline;
  }
}
